body {
	background-color:000;
	color:fff;
}
.content {
align:center;
gap: 10;
}



.shelfSet{
	display: flex;
	align-items:center;
	gap: 10px;
	
}

.shelfTitle{
	font-size: x-large;
    font-family: sans-serif;
    font-weight: bolder;
	align:block;
}