body {
	background-color:000;
	color:fff;
}
.content {
align:center;
gap: 10;
}



.shelfSet{
	position:relative;
	display: flex;
	align-items:center;
	overflow:hidden;
	gap: 10px;
	
}

.shelfTitle{
	font-size: x-large;
    font-family: sans-serif;
    font-weight: bolder;
	align:fixed;
}
img{
  width: 160px;
  height:90px;
  transition-property: height;
  transition-propert:width;
  transition-duration: 2s;
}
.active img {
	height:135px;
	width:240px;
}
