body {
	background-color:000;
	color:fff;
}
.content {
align:center;
gap: 10;
}



.shelfSet{
	display: flex;
	align-items:center;
	gap: 10px;
	
}

.shelfTitle{
	font-size: x-large;
    font-family: sans-serif;
    font-weight: bolder;
	align:block;
}

.active img{
	height:135px;
	width:240px;
}
.active {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}